@use "../../scss/_variables.scss";
@use "../../scss/_mixins.scss";

button.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--submit {
    background: variables.$blue-dark;
    color: variables.$light;
    border-radius: 1rem;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.15rem;
  }

  &--viewSelect {
    border: 3px solid variables.$blue-light;;
    background-color: variables.$light;

    img {
      height: 3rem;
      width: 3rem;
    }
  }

  &--selected {
    border: 3px solid variables.$blue-dark;
    background-color: variables.$secondary;
  }

  @include mixins.clickable-element();

  &--option {
    height: 100%;
    color: variables.$primary;
    background-color: rgba($color: variables.$secondary, $alpha: 0.65);
    border: 1px solid variables.$secondary;
    border-bottom: none;
    padding: 0.5rem;
    font-size: 0.8em;
  }

  &--option-selected {
    background-color: variables.$primary-dark;
  }
}
