@import "../../scss/_variables.scss";

div.meshLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary;
  height: 100%;

  .upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px dashed $primary;
    height: 50vh;
    width: 40vw;
  }
}
