@import "../../../styles/_variables.scss";

button.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--submit {
    background: #2770a1;
    color: #fff;
    border-radius: 1rem;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.15rem;
  }

  &--viewSelect {
    border: 3px solid #38a1e7;
    background-color: #fff;

    img {
      height: 3rem;
      width: 3rem;
    }
  }

  &--selected {
    border: 3px solid #2770a1;
    background-color: rgb(48, 48, 48);
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }

  &--option {
    color: $primary;
    background-color: rgba($color: rgb(51, 51, 51), $alpha: 1);
    padding: 0.5rem;
  }

  &--option-selected {
    background-color: #111;
  }
}
