.btn-group {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .btn:last-child {
    border-radius: 0 10px 10px 0;
  }

  .btn:first-child {
    border-radius: 10px 0 0 10px;
  }
}
