@use "../../scss/_variables.scss";
@use "../../scss/_mixins.scss";

section.export-menu {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    
    div.row {
        @include mixins.flex-row;
    }

    button {
        @include mixins.basic-button;
    }

    select {
        @include mixins.custom-select;
    }
}
