@use "../../scss/_variables.scss";
@use "../../scss/_mixins.scss";

section.scene-menu {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  section {
    padding: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  div.mesh-window {
    @include mixins.webkit-scrollbar;
    background: variables.$secondary-highlight;
    height: 10rem;
    width: 17.5rem;
    overflow-y: auto;

    
    div {
      @include mixins.clickable-element();
      padding-left: 0.25rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 0.25rem;
      font-size: 0.8em;

      div.mesh-prefix {
        @include mixins.mesh-window-prefix(green)
      }

      div.material-prefix {
        @include mixins.mesh-window-prefix(blue)
      }

      div {
        cursor: pointer;
      }
    }

    div.selected {
      background: variables.$secondary;
    }
  }

  div.input-select {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    
    span {
      font-size: 0.8em;
    }
    
    select {
      @include mixins.custom-select;
      min-width: 8rem;
    }

    label {
      padding: 0.05rem;
      width: 2.5rem;
      height: 1.25rem;
      border: #fff 1px solid;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}
