@use "../../scss/mixins.scss";

.viewer {
  height: 100vh;
  width: auto;
  background-color: #333333;
  flex: 1;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}
