@import "../../styles/_variables.scss";

div.meshLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  height: 100%;
  width: 100%;
  color: $primary;

  .upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border: 5px dashed $primary;
    padding: 10rem;
  }
}
