@use "../../scss/_variables.scss";

header.options-selector {
  width: 100%;
  background-color: rgba($color: variables.$secondary, $alpha: 0.65);

  &:first-child {
    button {
      border-left: none;
    }
  }

  &--top {
    button {
      border-top: none;
    }
  }
}
