@use "../../scss/_variables.scss";

nav.graph {
  height: 100vh;
  width: 18vw;
  background-color: variables.$primary-dark;
  color: variables.$primary;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
